* {
  margin: 0;
  padding: 0;
}

.App {
  
}

.header {
  padding: 5em;
  text-align: center;
  background-color: #fff;
  background-image: linear-gradient( #fff, #c1c1c1 );
}

.header input {
  float: right;
  padding: .5em;
}