* {
  margin: 0;
  padding: 0;
}

/* Header */
.header {
  position: relative;
  padding: 5em;
  text-align: center;
  background-color: #fff;
  background-image: linear-gradient( #fff, #c1c1c1 );
}

.header input {
  float: left;
  padding: .5em;
}

.search {
  float: right;
}

.magnifying-glass {
  height: 2em;
  width: 2em;
  padding-left: .5em;
  float: right;
  text-decoration: none;
}

/* Body */
.body {
  text-align: center;
}

.main {
  padding-top: 5em;
}

/* NavBar */
button {
  width: 12em;
  margin: 2em 5px 10em;
  padding: .75em;
  border-radius: 3px 20px 3px;
}

button:hover {
  cursor: pointer;
  color: white;
  background-color: #999;
}

.link {
  color: black;
  text-decoration: none;
}

.link:hover {
  cursor: pointer;
}

/* Footer */
.footer {
  position: absolute;
  justify-items: center;
  bottom: 0;
  height: 5em;
  width: 100vw;
  background-color: #fff;
  background-image: linear-gradient( #c1c1c1, #fff );
}

.footer h4 {
  text-align: center;
  vertical-align: middle;
}

.footer img {
  padding-top: 1em;
  margin-top: .5em; 
}

.red {
  color: red;
}
